*{
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}


@keyframes background-change{
    0%{ background-image: url(./images/Jhin_0.jpg);}
    25% { background-image: url(./images/Jhin_1.jpg);}
    50% { background-image: url(./images/Jhin_2.jpg);}
    75% { background-image: url(./images/Jhin_3.jpg);}
    100% { background-image: url(./images/Jhin_4.jpg);}
}


#navBar{
    background-color: #000000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: 800;
    margin: 0;
}


.navBarButton:hover{
    cursor: pointer;
    opacity: 1;
}


#barButtons{
    align-self: center;
}




#firstCardContent{
    background-image: url("/images/Jhin_0.jpg");
    animation: background-change 5s infinite;
    justify-content: space-between;
    padding: 0 0 80px 150px;
    flex: 1;
    height: 100vh;
    position: sticky;
}





#headerLogoText{
   padding-left: 15px;
}





#mainTitle{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
    padding-top: 20px;
}





#mainSubtitle{
    font-size: 18px;
    color: #E5E7EB;
}


/* set the appearance of the Sign Up button*/


#signUpButton{
    margin-top: 30px;
    background-color: rgb(32, 102, 194);
    color: #F9FAF8;
    height: 40px;                   
    width: 80px;            
    border-radius: 8px;
    opacity: 0.5;
}


/* sets the animation of the Sign Up button */

#signUpButton:hover{
    opacity: 1;
    cursor: pointer;
    opacity: 1;
}

#signUpButton:active{
    background-color: rgb(32, 102, 194);
    transform: translateY(4px);
}


/* random info section */


#randomInfoCard{
    padding: 0 40px;
}


#secondTitle{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-top: 60px;
    color: #1F2937;
}



#slotList{  
    list-style: none;   
    display: flex;
    justify-content: space-between;
    color: #1F2937;
    margin: 40px 0 80px 0;
    padding: 0;
}

.img-fluid{
    border: solid 4px #000000;
    border-radius: 20px;
}

.slotListItem{
    margin: 0 35px 40px 0;
}

.subtitleText{
    text-align: center;
}




/* quote section */

#quoteCard{
    background-color: #E5E7EB;
    height: 360px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#goodQuote{
    margin: 80px 0;
    text-align: right;
    font-size: 20px;
    font-weight: 300;
}




#actionCard{
    background-color: #F9FAF8;
    height: 260px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#blueCard{
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    background-color: rgb(44, 118, 214);
    padding: 60px 100px;
    border-radius: 8px;
    font-size: 20px;
}

#blueCardButton{
    background-color:rgb(44, 118, 214);
    color: #F9FAF8;
    font-weight: 800;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    margin-left: 100px;
    padding: 0 40px;
}


#blueCardButton:hover{
    cursor: pointer;
}



#blueCardButton:active{
    transform: translateY(4px);
}


#blueCardSubtitle{
    color: #F9FAF8;
    font-weight: 300;
    font-size: 15px;
}


footer{
    background-color: #1F2937;
    text-align: center;
    padding: 20px;
    color: #F9FAF8;
}

a{
    font-style: none;
    color: aqua;
}

