* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: white;
    scroll-behavior: smooth;
}

a,
a:hover {
    text-decoration: none;
    font-style: none !important;
    color: inherit;
}

li {
    list-style: none;
}

/* WhatsApp Button */

.whatsApp {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsApp:hover {
    color: #F1F1F1;
}

.my-whatsApp {
    margin: 16px;
}

/* header */

#navBar {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    border: 2px solid #F1F1F1;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.1);
}

.navbar {
    padding: 0;
}

.navButton {
    margin: 0 2%;
    background-color: none;
    border: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10%;
}



.navButton:hover {
    background-color: #f1f1f1cc;
    color: black;
}

.btnList {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: end;
    margin: 0 3%;
}

#icon {
    border: 2px solid aliceblue;
    border-radius: 8px;
    margin-right: 1%;
    height: 80%;
    align-self: center;
}

.dropdown {
    margin: 0 2%;
    display: none;
}

#dropdownMenuButton,
#dropdownMenuButton>i {
    background-color: transparent;
}

.dropdown-menu {
    width: 100vw;
    text-align: center;
}

.loginButtons {
    display: flex;
    margin-left: 5%;
}

.loginButtons>button:hover {
    background-color: transparent;
}

.cadastroText,
.cadastrarText {
    font-size: 1rem;
}

.loginText,
.gratisText {
    color: #e69422;
    font-weight: bolder;
}

.loginText:hover,
.gratisText:hover {
    text-decoration: underline;
}

/* Intro Section */

#introSection {
    height: 120vh;
    width: 100vw;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: 100%;
    background-origin: content-box;
}

#mainTitle {
    width: fit-content;
}


.zeroDozeTitulo {
    font-size: 4.5rem !important;
    margin: 0;
    line-height: 2.5rem;
}

.pickngo {
    font-size: 2rem;
    text-align: right;
    color: black;
    font-style: italic;
    text-shadow: none;
}

.licenciado {
    font-size: 1.6rem;
    font-style: italic;
}

.firstContainerContent {
    height: fit-content;
    padding: 8% 8% 0 8%;
    color: #e69422;
    text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    flex-direction: column;
}


.firstContainerContent>p {
    font-size: 1.8rem;
    text-shadow: 0.5px 0.5px 0.5px rgb(0, 0, 0);
}

.conhecaButton {
    background-color: transparent;
    margin-top: 3%;
    color: #e69422;
    border: none;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    width: fit-content;
}

.conhecaButton:hover {
    background-color: #e69422;
    color: aliceblue;
}



/* planos section */

#planos {
    height: 100vh;
    margin: 5% 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobreNosContent {

    height: fit-content;
    width: 80%;
    padding: 5%;
    text-align: center;
}

#cardCarousel {
    height: 50%;
}

.card {
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
    display: flex;
}

.card-img-top {
    border-radius: 8px;
}

.card-title {
    font-size: 1.5rem;
    color: #e69422;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.card-text {
    padding: 12% 0;
}

.text-muted {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

/* Integraçoes  */

#integracoes {
    height: fit-content;
    width: 100vw;
    pointer-events: none;
}

.integracoesContent {
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    height: fit-content;
    background-color: #e69422;
    border: 4px solid black;
}

.integracoesContent>h2 {
    padding-top: 4%;
}


.integracoesContent>footer {
    font-size: 2rem;
    padding-bottom: 8%;
}

.listaEmpresas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}

.lista,
.lista>li {
    list-style: none;
    margin: 4% 2%;
}

li>img {
    border: 6px solid black;
    border-radius: 50%;
}

/* Parceiros */

#parceiros {
    height: 100vh;
    width: 100vw;
}

#carouselParceiros {
    height: 80%;
    width: 80%;
}


/* Contato */

#contato {
    margin-top: 20px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e69422;
    border: 4px solid black;
}

.contatoContent {
    width: 80vw;
    height: fit-content;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    font-size: 1.3rem;
}


.btn-contato,
.btn-contato-wpp {
    margin-top: 10%;
    font-size: 1.5rem;
    height: fit-content;
    width: max-content;
    background-color: white;
    box-shadow: 4px 4px 5px black;
}

.btn-contato:hover {
    cursor: pointer;
    background-color: #e69422;
    font-weight: bold;
}


.btn-contato-wpp:hover {
    cursor: pointer;
    background-color: #25D366;
    font-weight: bold;
}

.cardContato {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.cta-button {
    height: 25rem;
}

/* Footer */

.rodapeDev {
    margin: 0;
    padding: 1%;
    color: #F1F1F1;
    background-color: black;
    height: fit-content;
    text-align: center;
    font-size: 1rem;
}

.rodapeDev>p {
    margin: 0;
}


@media screen and (max-width: 1024px) {

    /* Mobile Header */

    #icon,
    .navButton {
        display: none;
    }

    #navBar {
        position: sticky;
        width: 100vw;
        flex-direction: row;
        justify-content: center;
    }

    .dropdown {
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .dropdown-menu {
        width: 100vw !important;
    }

    #dropdownMenuButton {
        padding: 0 !important;
        font-size: 1.5rem;
    }

    .navButton {
        margin: 0 2%;
        background-color: none;
        border: none;
        color: black;
    }

    .btnList {
        display: flex;
        position: relative;
        flex: 1;
        justify-content: end;
    }

    #icon {
        border: 2px solid aliceblue;
        border-radius: 8px;
    }


    /* Mobile Intro Section */

    #introSection {
        display: flex;
        flex-direction: column;
        height: 140vh;
        width: 100%;
        background-position: center;
    }


    .firstContainerContent {
        margin: 2% 0 !important;
        height: 100%;
        font-size: 1.4rem;
        padding: 2%;
        color: #e69422;
        text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
        font-weight: bold;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }


    .conhecaButton {
        display: none;
    }


    /* Mobile planos */

    #planos {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .card {
        margin: 10% 0;
    }

    .card-deck {
        flex-direction: column;
    }

    /* Mobile Integrações */

    #integracoes {
        height: fit-content;
        width: 100%;
    }

    .integracoesContent,
    .integracoesContent>h2 {
        padding: 8% 0;
    }

    .listaEmpresas {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lista,
    .lista>li {
        margin: 0;
    }


    li>img {
        border: 6px solid black;
        border-radius: 50%;
        filter: none;
    }

    /* contato */

    #contato {
        padding: 10% 20%;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e69422;
        border: 4px solid black;
    }

    .contatoContent {
        width: 80vw;
        height: fit-content;
        background-color: whitesmoke;
        padding: 10% 5%;
        display: flex;
        flex-direction: column;
        border: 3px solid black;
    }

    .cardContato {
        margin: 10% 0;
    }

    .cardContato>.card {
        height: 250px;
    }




}