* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #000000;
    scroll-behavior: smooth;
}

a,
a:hover {
    text-decoration: none;
    font-style: none !important;
    color: inherit;
}

li {
    list-style: none;
}

.btn-outline-light::selection {
    padding: 0;
}

.btn-primary {
    background-color: #e69422;
    border: 0.5px solid black;
    color: black;
    font-style: italic;
    font-weight: 800;

}

/* WhatsApp Button */

.whatsApp {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsApp:hover {
    color: #F1F1F1;
}

.my-whatsApp {
    margin: 16px;
}

/* header */

#navBar {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
}

.navbar {
    padding: 0;
    background-color: #e69422ec;
    border-bottom: 4px solid black;
    box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
}

.navButton {
    margin: 0 2%;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10%;
    letter-spacing: 0.05rem;
}

.btnList {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: space-between;
    margin: 0 3%;
}

.logoAndButtons {
    display: flex;
}


.btn-link,
.btn-link:active,
.btn-link:focus {
    transition: none;
    background-color: inherit;
    text-decoration: none;
}

.btn-link>a {
    color: #000;
    font-weight: 700;
}

.logoAndButtons>.btn-link>a:hover {
    text-decoration: underline;
}

#icon {
    margin-right: 8%;
    height: 80%;
    align-self: center;
}

.dropdown {
    margin: 0 2%;
    display: none;
}

#dropdownMenuButton,
#dropdownMenuButton>i {
    background-color: transparent;
    color: #212427;
}

.dropdown-menu {
    width: 100vw;
    text-align: center;
}

.dropdown-menu.show {
    margin: 0;
    border: 0;
}


.dropdown-item {
    color: black;
    font-style: italic;
    font-weight: 800;
    text-shadow:
        0.02em 0 aliceblue,
        0 0.02em aliceblue,
        -0.02em 0 aliceblue,
        0 -0.02em aliceblue;
}

.loginButtons {
    display: flex;
    margin-left: 5%;
}

.loginButtons>.btn:hover,
.loginButtons>.btn:focus {
    background-color: transparent;
    text-decoration: none;
}

.loginText,
.gratisText {
    color: aliceblue;
    font-weight: bolder;
    text-shadow:
        0.1em 0 black,
        0 0.1em black,
        -0.1em 0 black,
        0 -0.1em black;
}

.loginText:hover,
.gratisText:hover {
    text-decoration: underline;
}





/* Intro Section */

#introSection {
    height: fit-content;
    width: 100vw;
    z-index: 1;
}

#mainTitle {
    width: fit-content;
    padding-top: 4%;
    text-shadow:
        0.09em 0 black,
        0 0.09em black,
        -0.09em 0 black,
        0 -0.09em black;
}



.zeroDozeTitulo {
    font-weight: 600;
    font-size: 4.5rem;
    margin: 0;
    line-height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.pickngo {
    padding-right: 10%;
    font-size: 2rem;
    text-align: right;
    color: aliceblue;
    font-style: italic;
    text-shadow:
        0.02em 0 black,
        0 0.02em black,
        -0.02em 0 black,
        0 -0.02em black;
    margin-bottom: 5%;
}

.licenciado {
    font-size: 1.4rem;
    font-style: italic;
    color: aliceblue;
    text-shadow:
        0.02em 0 black,
        0 0.02em black,
        -0.02em 0 black,
        0 -0.02em black;
}

.firstContainerContent {
    height: 100vh;
    padding: 0 3%;
    color: #e69422;
    text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background-image: url(../img/background/entrega\ na\ porta.jpg);
    background-size: cover;
}


.subtitle {
    font-size: 1.8rem;
    color: aliceblue;
    text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black;

}

.conhecaButton {
    background-color: transparent;
    margin-top: 3%;
    color: #e69422;
    border: none;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    width: fit-content;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}

.conhecaButton:hover {
    background-color: #e69422;
    color: aliceblue;
}

.mainImage {
    height: 80vh;
    width: 100%;
    flex: 1;
    /*background-image: url('./images/delivery.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    background-origin: content-box;
    background-color: transparent;
    */
}

/* planos section */

#planos {
    padding-top: 10%;
    height: fit-content;
    margin: 5% 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobreNosContent {

    height: fit-content;
    width: 80%;
    padding: 5%;
    text-align: center;
}

#cardCarousel {
    height: 50%;
}

.card {
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
    display: flex;
}

.cardPlanos {
    height: fit-content;
}

.cardPlanos>.card-title {
    color: #e69422;
}

.card-img-top {
    border-radius: 8px;
}

.card-title {
    font-size: 1.5rem;
    color: #e69422;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.card-text {
    padding: 12% 0;
}

.text-muted {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

/* Integraçoes  */

#integracoes {
    height: fit-content;
    width: 100vw;
    pointer-events: none;
    background-image: url(./images/background/entrega\ mao\ a\ mao.jpg);
    background-size: cover;
}

.integracoesContent {
    color: aliceblue;
    text-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    border: 4px solid black;
}

.integracoesContent>h2 {
    padding-top: 4%;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}


.integracoesContent>footer {
    font-size: 2rem;
    padding-bottom: 8%;
}

.listaEmpresas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
}

.lista,
.lista>li {
    list-style: none;
    margin: 4% 2%;
    font-size: 1.5rem;
}

li>img {
    border: 6px solid black;
    border-radius: 50%;
}

/* Vantagens */

#vantagens {
    height: fit-content;
    width: 100vw;
    background-image: url(./images/background/entrega\ ok.jpg);
    background-size: cover;
    padding: 5% 0;
}

.vantagensContent {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.vantagensTitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 5% 0;

}

.vantagensTitulo>h2 {
    font-style: italic;
    line-height: 0rem;
    z-index: 1;
    color: aliceblue;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}

.orangeBar {
    height: 1rem;
    width: 100%;
    background-color: #e69422;
    line-height: normal;
}

.vantagensContent>ul>li {
    font-size: 1.5rem;
    font-weight: 600;
}

.vantagensContent>ul>li>span {
    color: aliceblue;
    text-shadow:
        0.03em 0 black,
        0 0.03em black,
        -0.03em 0 black,
        0 -0.03em black;
}


/* Parceiros */

/* Contato */

#contato {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e69422;
    border: 4px solid black;
}

.contatoContent {
    margin: 6%;
    width: 80vw;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    background-color: #000000 !important;
    justify-content: space-around;
}


.btn-contato {
    height: fit-content;
    margin-top: 12%;
}

.btn-contato-wpp {
    margin-top: 4%;
}

.btn-contato,
.btn-contato-wpp {
    font-size: 1.5rem;
    height: fit-content;
    width: max-content;
    background-color: #000000;
    box-shadow: 4px 4px 5px black;
    font-weight: bold;
    color: aliceblue;
}

.btn-contato:hover {
    cursor: pointer;
    background-color: #e69422;
    color: #000000;
}


.btn-contato-wpp:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: #000000;
}


.card {
    border: 2px solid black;
    border-radius: 16px;
}

.cardContato {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.cardContatoContainer {
    background-color: aliceblue;
}


.cta-button {
    height: 25rem;
    border: 0;
}

.card-body-contato {
    height: 25rem;
    width: 100%;
}

.card {
    margin: 10px;
}

/* Footer */

.rodapeDev {
    margin: 0;
    padding: 1%;
    color: #f1f1f1c2;
    background-color: black;
    height: fit-content;
    text-align: center;
    font-size: 1rem;
}

.rodapeDev>p {
    margin: 0;
}

.btn:hover {
    box-shadow: none;
    background-color: inherit;
    color: aliceblue;
    text-decoration: underline;
}

.contatoIcon {
    margin: 0 6px 0 0 !important;
}



@media screen and (max-width: 800px) {

    /* Mobile Header */

    #mainTitle {
        margin: 10% 0;
    }

    #icon,
    .navButton {
        display: none;
    }

    #navBar {
        position: sticky;
        width: 100vw;
        flex-direction: row;
        justify-content: center;
    }

    .navbar {

        border-bottom: 2px solid black;
    }

    .dropdown {
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .dropdown-menu {
        width: 100vw !important;
    }

    .dropdown-menu.show {
        padding: 0;
    }

    .dropdown-menu.show>:first-child {
        border: none;
    }

    .dropdown-item {
        padding: 2%;
        border-top: 1.5px solid #e69422;
    }

    #dropdownMenuButton {
        padding: 0 !important;
        font-size: 1.5rem;
    }

    .navButton {
        margin: 0 2%;
        background-color: none;
        border: none;
        color: black;
    }

    .btnList {
        display: flex;
        position: relative;
        flex: 1;
        justify-content: end;
    }

    #icon {
        border: 2px solid aliceblue;
        border-radius: 8px;
    }


    /* Mobile Intro Section */

    #introSection {
        height: 100vh;
        width: 100%;
        background-image: url(../img/mobilebg/homemcomentregas.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
    }


    .firstContainerContent {
        margin: 2% 0 !important;
        height: 100%;
        font-size: 1.5rem;
        padding: 4%;
        color: #e69422;
        text-shadow: 1.5px 1.5px 1.5px rgb(0, 0, 0);
        font-weight: bold;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        background-image: none;
    }


    .pickngo {
        font-size: 1.2rem;
    }

    .zeroDozeTitulo {
        font-size: 4rem;
        line-height: 3rem;
        height: fit-content;
    }

    .conhecaButton {
        display: none;
    }

    .subtitle {
        text-shadow:
            -8px -8px -8px rgb(0, 0, 0);

    }

    /* Mobile planos */

    #planos {
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .card-body {
        height: fit-content !important;
    }

    .card {
        height: fit-content;
        margin: 1%;
    }

    .card-deck {
        flex-direction: column;
    }

    /* Mobile Integrações */

    #integracoes {
        height: fit-content;
        width: 100%;
        background-color: #e69422;
        background-image: none;
    }

    .integracoesContent,
    .integracoesContent>h2 {
        padding: 8% 0;
    }

    .listaEmpresas {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lista,
    .lista>li {
        margin: 0;
    }


    li>img {
        border: 6px solid black;
        border-radius: 50%;
        filter: none;
    }


    /* Vantagens */


    .vantagensContent {
        padding: 8% 20%;
        text-align: center;
    }

    .vantagensContent>ul>li {
        font-size: 2rem;
        font-weight: 600;
        color: #e69422;
    }


    /* contato */


}

@media screen and (max-width: 768px) {


    #mainTitle {
        padding-top: 25%;
    }

    .zeroDozeTitulo {
        font-weight: 600;
        font-size: 3.5rem;
        margin: 0;
        line-height: 2rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pickngo {
        font-size: 1.8rem;
        text-align: right;
        color: aliceblue;
        font-style: italic;
        text-shadow:
            0.02em 0 black,
            0 0.02em black,
            -0.02em 0 black,
            0 -0.02em black;
        margin-bottom: 5%;
    }

    .licenciado {
        font-size: 1.4rem;
        font-style: italic;
        color: aliceblue;
        text-shadow:
            0.02em 0 black,
            0 0.02em black,
            -0.02em 0 black,
            0 -0.02em black;
    }

    .subtitle {
        font-size: 2rem;
    }

    .contatoFlexContainer {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 5% 0;
        max-width: 80%;
    }

}